*{
    margin: 0px;
    padding: 0px;
}
body{
   background-color: rgb(202, 245, 229);
}
header{
    height: 70px;
    background-color: rgb(31, 94, 64);
    margin-bottom: 20px;
    color: white;
}
footer{
    height: 30px;
    width: 100%;
    background-color: rgb(34, 34, 34);
    color: rgb(145, 143, 143);
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
}
h4{
    margin-left: 80px;
}
h1{
    position: absolute;
    top: 15px;
    left: 20px;
}
h2{
    color: rgb(31, 94, 64); 
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: rgb(202, 245, 229);
}

.a1{
    position: absolute;
    top:20px;
    left: 825px;
}
.a2{
    color: rgb(202, 245, 229);
    position: absolute;
    top:20px;
    left: 1000px;
}
.a3{
    position: absolute;
    top:20px;
    left: 1100px;
}
.im_1{
    margin: 10px;
    width: 300px;  
}
.text{
    position: absolute;
    top: 150px;
    left: 350px;
}
table {
    border-collapse: collapse; 
    line-height: 1.1;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background:  radial-gradient(farthest-corner at 50% 50%, white, #DCECF8);
    color: #0C213B;
    position: absolute;
    top: 320px;
    left: 400px;
  }
  caption {
    font-weight: bold;
    font-size: 20px;
    padding: 10px; 
    color: rgb(31, 94, 64);
   }
  th {
    padding: 10px; 
    border: 1px solid #A9E2CC;
  }
  td {
    font-size: 0.8em;
    padding: 5px 7px;
    border: 1px solid #A9E2CC;
  }

  @media print { 
    @page :first { margin: 1cm;}
    
    header {
        display: none;
    }
    footer {
        display: none;
    }
    table{
        top: 450px;
    }
    .text{
        top: 50px;
    }
*{
    filter: grayscale(100%);
}
  }
